/*
CSS / Styling that when used together create effects, like tooltips, liking someone, etc
*/

/** For us with JQuery Dialog Automation */
.js-dialog-content {
  display: none;
}


/** Speach bubble effects */
div.speech-bubble{
   margin-left: 2em;;
   margin-right: 2em;;
   padding: 1em;
   color: white;
   display: inline-block;
   width: 90%; 
   min-height: 6em; 
   border-radius: 1em;
}
.bubble-content {
  width: 100%;
  float: left;
}
div.speech-bubble.left {
   text-align: left;
   background: blue;
}
div.speech-bubble.right {
   background: red;
}
/*
// Not browser independent yet - FF & Chrome differ, also w. themselves on refresh
div.speech-bubble::before,
div.speech-bubble::after {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 1.5em solid transparent;
   border-bottom: 1.5em solid transparent;
   margin: 0;
}
div.speech-bubble.left::before {
   border-right: 2.5em solid blue;
   margin-left: -3.5em;

}
div.speech-bubble.right:after {
   border-left: 2.5em solid red;
   margin-left: .5em;
 //  margin-left: 410px;
 //  left: 70%;
   top: 1.8em;
}
*/








/** Some Bootstrap Mods to make even height columns */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.rowclass-equalheight {
    display: table;
}

.colclass-equalheight {
    float: none;
    display: table-cell;
    vertical-align: top;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/** Management of "Favoriting" & Blocking, in combo with JS / AJAX */

.social-control-container {
  height: 4em;
  text-align: center;
}

div.blocked,
div.unblocked,
div.favorited,
div.unfavorited {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-size: contain;
}
div.favorited,
div.unfavorited {
  transform: translateY(-.5em);
  margin: auto;
}

div.unfavorited {
  background-image: url('../img/Full-Empty-Star.svg');
}
div.favorited {
  background-image: url('../img/Full-Yellow-Star.svg');
}


div.favorite-toggle.favorited:hover,
div.favorite-toggle.unfavorited:hover {
  background-image: url('../img/Full-Half-Star.svg');
  cursor: pointer;
}

div.favorite-toggle.favorited::after,
div.favorite-toggle.unfavorited::after {
  top: 2em;
  transform: translateX(-50%);
  display: block;
  margin-top: -.3em;
  position: relative;
  white-space: pre;
}
div.favorite-toggle.unfavorited::after {
  content: "Not a favorite..";
  color: #884;
}

div.favorite-toggle.favorited::after {
  color: #962;
  content: 'A Favorite!';
}

div.favorite-toggle.favorited:hover::after {
  color: #888;
  content: 'Unfavorite?';
}

div.favorite-toggle.unfavorited:hover::after {
  color: #962;
  content: "Favorite them!";
}



/** Similar with Favoriting, but for blocking */


div.blocked,
div.unblocked {
  border-radius: .5em;
  background-color: green;
  line-height:  2em;
}

div.blocked {
  background-color: red;
}

div.unblocked:hover {
  cursor: pointer;
  background-color: #800;
}
div.blocked:hover {
  cursor: pointer;
  background-color: #080;
}

div.unblocked::before,
div.blocked::before {
  font-size: x-large;
  font-weight: bold;
}
div.unblocked::before {
  content: '\2713';
}
div.blocked::before {
  content: '\2718';
}

div.blocked::after,
div.unblocked:after {
  margin-top: -.3em;
  white-space: pre;
  font-size: small;
  position: relative;
  display: block;
  transform: translateX(-60%);
}

div.blocked::after {
  color: #600;
  content: 'Blocked';
  font-style: italic;
}

div.unblocked::after {
  content: 'Unblocked';
  color: #686;
}

div.unblocked:hover::after {
  color: red;
  content: 'Block User?';
}

div.blocked:hover::after {
  color: green;
  content: 'Unblock User?';
}


/** Some button styling, also for divs, and menus? */
$default-pkmvc-button: 1 !default;
@if $default-pkmvc-button == 1 {
  body .pkmvc-button:focus,
  body .pkmvc-button:visited,
  body .pkmvc-button {
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(to top, #759ae9, #376fe0);
    border-top: 1px solid #1f58cc;
    border-right: 1px solid #1b4db3;
    border-bottom: 1px solid #174299;
    border-left: 1px solid #1b4db3;
    border-radius: .3rem;
    box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
    color: #fff;
    font: bold 1rem/1 "helvetica neue", helvetica, arial, sans-serif;
    padding: .5rem ;
    margin: .5rem;
    text-shadow: 0 -1px 1px #1a5ad9;
  }
  body .pkmvc-button:focus a,
  body .pkmvc-button:visited a,
  body .pkmvc-button a {
    color: #fff;
    text-decoration: none;
  }

  body .pkmvc-button:hover,
  body .pkmvc-button:hover a {
      text-decoration: none;
      color: #ffe;
  }
  body .pkmvc-button:hover {
      background-image: linear-gradient(to top, #557ac9, #174fc0);
      cursor: pointer; 
  }

  body .pkmvc-button:active {
      border-top: 1px solid #1b4db3;
      border-right: 1px solid #174299;
      border-bottom: 1px solid #133780;
      border-left: 1px solid #174299;
      box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
  }
}

body .light-button:focus,
body .light-button:visited,
body .light-button {
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(to top, #759aa9, #376fa0);
    border-top: 1px solid #1f58cc;
    border-right: 1px solid #1b4db3;
    border-bottom: 1px solid #174299;
    border-left: 1px solid #1b4db3;
    border-radius: .2rem;
    box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
    color: #fff;
    font-weight: normal;
    font:  1rem/1 "helvetica neue", helvetica, arial, sans-serif;
    padding: .3rem ;
    margin: .3rem;
    text-shadow: 0 -1px 1px #1a5ad9;
}
  body .light-button:focus a,
  body .light-button:visited a,
  body .light-button a {
    color: #fff;
    text-decoration: none;
  }

  body .light-button:hover,
  body .light-button:hover a {
      text-decoration: none;
      color: #ffe;
  }
  body .light-button:hover {
      background-image: linear-gradient(to top, #557ac9, #174fc0);
      cursor: pointer; 
  }

  body .light-button:active {
      border-top: 1px solid #1b4db3;
      border-right: 1px solid #174299;
      border-bottom: 1px solid #133780;
      border-left: 1px solid #174299;
      box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
  }


/** Set of behaviors for inline login */
$inline-login-color: #ccf !default;
.inline-login a{
  color: $inline-login-color;
}
$inline-login-hover-color: #aaf !default;
.inline-login a:hover{
  text-decoration: none;
  color: $inline-login-hover-color;
}

form.inline-login input.form-control.checkbox-inline {
  display: inline-block;
  width: auto;
  margin-left: .25rem;
  vertical-align: middle;
}

$inline-login-margin-top: 4px !default;
$inline-login-zoom: .9 !default;
.inline-login {
  display: inline-block;
  margin-top: $inline-login-margin-top;
  zoom: $inline-login-zoom;
}

label.inline-remember {
  color: white;
  display: inline-block;
  margin-left: .5em;
}
$inline-login-form-button-hpad: .4rem !default;
$inline-login-form-button-vpad: .3rem !default;
form.inline-login.form-inline button.btn-primary {
  margin-left: .5em;
  padding-left: $inline-login-form-button-hpad;
  padding-right: $inline-login-form-button-hpad;
  padding-top: $inline-login-form-button-vpad;
  padding-bottom: $inline-login-form-button-vpad;
  //position: relative;
  //top: -5px;
}

form.inline-login.form-inline button.btn-primary {
  @include below-bp(sm) {
    margin-left: 0;
  }
}


/** Don't remember exactly what key frames were for - some kind of animation - cool*/
@keyframes pulse {
  0% {
    border: solid red 2px;
    background-color: rgba(100,100,255,.8);
  }
  50% {
    border: solid blue 2px;
    background-color: rgba(250,200,100,.8);
  }
  100% {
    border: solid red 2px;
    background-color: rgba(100,100,255,.8);
  }
}

/** Basis for avatar handling, also pup up ajax dialogs */
$img-avatar-max-width: 15rem !default;
$img-avatar-max-height: 15rem !default;

img.avatar {
  max-width: $img-avatar-max-width;
  max-height: $img-avatar-max-height;
  padding: 0;
  margin: 0;
  border: none;
  /*
  padding: 5px;
  border: 1px;
  margin: 5px;
  border-radius: 5px;
  */
}


.avatar-frame {
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
  width: $img-avatar-max-width;
  height:  $img-avatar-max-height;
  border: solid #888 1px;
  text-align: center;
  position: relative;
  background-color: black;
}





$avatar-desc-width: $img-avatar-max-width !default;
$avatar-desc-padding: .5rem !default;
$avatar-desc-margin: .5rem !default;
$avatar-desc-bg: #eee !default;
.avatar-desc {
  width: $avatar-desc-width;
  padding: $avatar-desc-padding;
  border: 1px;
  margin: $avatar-desc-margin;
  display: inline-block;
  background: $avatar-desc-bg;

}

img.big-picture-dialog {
  max-width: 70rem;
  max-height: 70rem;
  /*
  border-radius: 2rem;
  border: solid blue 5px;
  */

} 
/** Basic uniform styling for disabled controls - both the native HTML inputs,
 * which bootstrap applies a style to through the pseudo-selector :disabled -
 * but that doesn't work with my compound inputs like "multiselect" Components
 * that want this styling should have the class 'form-control', and have the
 * class 'disabled'
 */

/*
div.multiselect.disabled,
input[disabled].disabled {
*/
.form-control.disabled {
  background-color: #444;
  color: #888;
}

.form-control.multiselect {
  text-align: left;
}


@media (max-width: 600px) {
  div.speech-bubble{
    width: auto;
  }
  div.speech-bubble:before, 
  div.speech-bubble:after {
    content: none;
  } 
}

/** So far, for automatic delete row buttons */
.pk-compact {
  margin: 0;
}

/** Try Vertical/Horizontal styling for Radio/YesNo set */

.rs-horizontal .rs-layout {
  display: inline-block;
  /*
  margin-left: .5rem;
  margin-right: .5rem;
  */
}

.rs-yn .radio.rs-layout {
  width: 4rem
}
.rs-horizontal .rs-layout.rs-yn label {
  /*
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 4rem;
  */

}
/** To center jQuery UI dialogs - pk-big-picture, but generalizable
 * Need to add "data-dialogClass='pk-big-picture'" to the js-dialog-button 
*/
.ui-dialog.ui-widget.pk-big-picture {
  @include absolutecenter;
}
