/** Mods/add-ons to default BS 4
 */

//Customizing TAB inactive Background & Font color
.nav-tabs .nav-link {
  @if  variable-exists(nav-tabs-inactive-link-hover-color) {
    color: $nav-tabs-inactive-link-hover-color;
  }
  @if  variable-exists(nav-tabs-inactive-link-hover-bg) {
    background-color: $nav-tabs-inactive-link-hover-bg
  }
}

@if   variable-exists(nav-tabs-bg-color) {
  ul.nav.nav-tabs {
    background-color: $nav-tabs-bg-color ;
  }
}

img.site-brand-menu-img {
  $site-brand-menu-img-max-width: 24px !default;
  $site-brand-menu-img-max-height: 24px !default;
  $site-brand-menu-img-margin: 0 !default;
  $site-brand-menu-img-padding: 0 !default;
  margin: $site-brand-menu-img-margin;
  padding: $site-brand-menu-img-padding;
  max-width: $site-brand-menu-img-max-width;
  max-height: $site-brand-menu-img-max-height;
}

//Tootik Override - add 'center' config
  // Positions (From tootik scss 'right')
  [data-tootik][data-tootik-conf*='center'] {
    &:before {
      left: 50%;
      top: 50%;
      transform: translate(-50% , -50%);
    }
    &:after {
      bottom: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover,
    &:focus {
      &:before {
        transform: translate(-50%, -50%);
      }
      &:after {
        transform: translate(-50%, -50%);
      }
    }
  }


  // Play with customizing navbars

  nav.navbar.pk-nav {
    flex-direction: row;
    background: red;
    .nav-link {
      color: #ccf;
      font-size: 1.1rem;
      &:hover {
        color: white;
        text-shadow:0 0 1px white;
      }
    }
    .nav-item + .nav-item {
      margin-left: 2rem;

    }
  } 


label.inline-remember {
  color: white;
}

form.inline-login.inline-form button.btn-primary {
  position: relative;
  //top: -25px;

}

body nav.navbar.pk-top-menu {
  height: 50px;
  a.nav-link {
    margin-top: 5px;
  }
}

.droponhover.dropdown:hover .dropdown-menu,
.droponhover.dropdown .dropdown-menu:hover {
  display: block;
} 
