/** Useful Vue SCSS, like for modals */

[v-cloak] {
  display: none;
}
.rt-inp {
  width: 100%;
  padding-left: .5em;
  background-color: rgba(255, 255, 200, 0.4);
  border: solid #bbb 1px;
  border-radius: 3px;
}
.rt-fldcls,
.rt-lblcls {
  display: inline-block;
  padding: .25em;
  text-align: center;
  font-weight: bold;
  color: blue;
  flex-grow: 1;
  flex-shrink: 1;
  //flex-basis: 50%;
  align-self: stretch;
  overflow-y: auto;
  width: 100%;
}
div .rt-lblcls {
  font-weight: bold;
  color: blue;
  padding-bottom: 0;
}
.rt-fldcls {
  font-weight: normal;
  color: #444;
}
.rt-headcls {
  display: block;
  width: 100%;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  text-align: center;
  padding: .5em;
  font-size: larger;
  font-weight: 600;
  border: solid #aaa 1px;
  background-color: #88f;
}

.rt-rowcls {
  display: flex;
  margin: 0;
  padding: 0;
  border: solid #88f 1px;
  flex-grow: 1;
  flex-basis: 100%;
  flex-shrink: 1;
}

.rt-cellcls {
  text-align: center;
}

.rt-tblcls {
  border: solid #bbb 1px;
  border-radius: .5em;
  /*
  margin: .5em;
  */
  margin: 0;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

