/** Mods/add-ons to default BS 4
*/

//Customizing TAB inactive Background & Font color
.nav-tabs .nav-link {
  @if  variable-exists(nav-tabs-inactive-link-hover-color) {
    color: $nav-tabs-inactive-link-hover-color;
  }
  @if  variable-exists(nav-tabs-inactive-link-hover-bg) {
    background-color: $nav-tabs-inactive-link-hover-bg
  }
}

@if   variable-exists(nav-tabs-bg-color) {
  ul.nav.nav-tabs {
    background-color: $nav-tabs-bg-color ;
  }
}

img.site-brand-menu-img {
  $site-brand-menu-img-max-width: 24px !default;
  $site-brand-menu-img-max-height: 24px !default;
  $site-brand-menu-img-margin: 0 !default;
  $site-brand-menu-img-padding: 0 !default;
  margin: $site-brand-menu-img-margin;
  padding: $site-brand-menu-img-padding;
  max-width: $site-brand-menu-img-max-width;
  max-height: $site-brand-menu-img-max-height;
}

// Play with customizing navbars
//$nav-item-after-nav-item-margin-left: .5rem !default;
$nav-item-hpad: .25rem !default;
$pk-nav-nav-link-margin-top: 5px !default;
$pk-top-menu-height: 50px !default;
$pk-top-menu-nav-link-margin-top: 0 !default;
body nav.navbar.pk-top-menu {
  z-index: 999999;
  flex-direction: row;
  height: $pk-top-menu-height;
  a.nav-link {
    margin-top: $pk-top-menu-nav-link-margin-top;
    color: #eee;
    font-size: 1rem;
    &:hover {
      color: white;
      text-shadow:0 0 1px white;
    }
  }
  .site-brand {
    padding-top: 0;
    padding-bottom: 0;
  }

//@include bg-variant('.bg-inverse', $brand-inverse);
  ul.nav.navbar-nav {
    z-index: 100000;
    //background-color: #666;
    background-color: $brand-inverse;
    opacity: 1;
  }
  .nav-item {
    padding-right: $nav-item-hpad; 
  }
  .nav-item + .nav-item {
    //margin-left: $nav-item-after-nav-item-margin-left;
    padding-left: $nav-item-hpad;

  }
}

.droponhover.dropdown:hover .dropdown-menu,
.droponhover.dropdown .dropdown-menu:hover {
  display: block;
} 

ul.nav.navbar-nav.li {
  text-align: center;
}


//Play with imports from SBC-Exchange
.pk-top-menu ul.nav.navbar-nav > .nav-item {
  margin-top: 0;
}

nav.navbar {
  margin-bottom: 0;
}


.site-name {
  text-shadow:0 0 1px #400;
}



//Tootik Override - add 'center' config
// Positions (From tootik scss 'right')
[data-tootik][data-tootik-conf*='center'] {
  &:before {
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
  }
  &:after {
    bottom: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover,
    &:focus {
    &:before {
      transform: translate(-50%, -50%);
    }
    &:after {
      transform: translate(-50%, -50%);
    }
  }
}
