/** General Styles available to all sites - with default variables
 * overridable in individual sites
 */

$body-font-size: 14px !default;
body {
  font-size: $body-font-size;
}
$page-template-border:  solid blue 1px !default;
$page-template-padding:  5px !default;
$page-template-margin:  5px !default;
.page-template {
  //border: solid blue 1px;
  padding: $page-template-padding;
  margin: $page-template-margin;
  @include below-bp(sm) {
   margin: 1px;
   padding: 1px;
  }
}

.container-fluid {
  @include below-bp(sm) {
   margin: 0;
   padding: 0;
  }
}

$page-template-title-hpad: .5em !default;
$page-template-title-vpad: .25em !default;
$page-template-title-color: #400 !default;
$page-template-title-bg: #fff !default;
$page-template-title-font-size: x-large !default;
$page-template-title-text-align: center !default;
$page-template-title-radius: .3em !default;
$page-title-font: 'Montserrat' !default;
$page-subtitle-margin-top: .5em !default;
$page-subtitle-font: 'Montserrat' !default;
.page-template .page-title {
   font-size: $page-template-title-font-size;
   padding: $page-template-title-vpad $page-template-title-hpad;
   color: $page-template-title-color;
   background: $page-template-title-bg;
   text-align: $page-template-title-text-align;
   border-radius: $page-template-title-radius;
   font-family: $page-title-font, verdana;
 }

.page-template .page-title.inverse {
   background: $page-template-title-color;
   color: $page-template-title-bg;
 }

$page-title-img-maxheight: 40px !default;
$page-title-img-maxwidth: 40px !default;
$page-title-img-margin-right: 1rem !default;
.page-template .page-title img {
  vertical-align: middle;
  max-height: $page-title-img-maxheight;
  max-width: $page-title-img-maxwidth;
 }

$page-template-subtitle-color: #004 !default;
$page-template-subtitle-bg: #fff !default;
$page-template-subtitle-font-size: large !default;
$page-template-subtitle-text-align: left !default;
$page-template-subtitle-hpad: $page-template-title-hpad !default;
$page-template-subtitle-vpad: $page-template-title-vpad !default;
$page-template-subtitle-radius: $page-template-title-radius !default;
.page-template .page-subtitle {
   font-size: $page-template-subtitle-font-size;
   padding: $page-template-subtitle-vpad $page-template-subtitle-hpad;
   color: $page-template-subtitle-color;
   background: $page-template-subtitle-bg;
   text-align: $page-template-subtitle-text-align;
   border-radius: $page-template-subtitle-radius;
   font-family: $page-subtitle-font, verdana;
   margin-top: $page-subtitle-margin-top;
}
.page-template .page-subtitle.inverse {
   background: $page-template-subtitle-color;
   color: $page-template-subtitle-bg;
}

$site-lbl-color: #228 !default;
$site-val-color: #422 !default;
$site-negative-value-color: #a22 !default;

.pk-lbl {
  //font-weight: bold;
  color: $site-lbl-color;
}

.pk-val {
  color: $site-val-color;
  //font-weight: bold;
}

.pk-inp-wrap {
  border: solid blue 1px;
}

div input[type=checkbox].pk-inp {
  width: auto;
}

$input-font-size: 14px !default;
select.pk-inp,
textarea.pk-inp,
input.pk-inp {
  @extend .form-control; 
  padding: 2px;
  //font-weight: bold;
  //font-family: 'Times New Roman', serif;
  font-family: 'Montserrat', arial;
  font-size: $input-font-size;
  //font-family: 'Roboto', verdana;
  color: #300;
  //background-color: rgba(255,255,255,.4);
}
body div div form div select.pk-inp {
   &:not([size]):not([multiple]) {
    height: 1.7 * $input-font-size;
   }
}


.pk-dollar-value {
  display: inline-block;
  text-align: right;
}

.pk-dollar-value.negative-dollar-value,
.pk-val.pk-dollar-value.negative-dollar-value {
  color: $site-negative-value-color;
}


/** For labels under images */
.image-desc {
  font-size: .9rem;
  border-radius: .5em;
  font-weight: 600;
  color: #422;
  text-align: center;
  margin-top: .5em;
  background-color: rgba(100,100,255,.5);

}

.row.pk-lbl [class*="col"] {
   @extend .pk-lbl;
}

.row.pk-val [class*="col"] {
   @extend .pk-val;
}

//A link within a section of text
//$a-in-text-color: #00a !default;
$a-in-text-color: inherit !default;
a.in-text {
  color: $a-in-text-color;
  text-decoration: none;
  text-shadow: .1em .1em .1em  rgba(0,0,0,.3);
  &:hover {
    //color: lighten($a-in-text-color, 50%);
   text-shadow: .1em .1em .3em  rgba(0,0,0,.5);
  }

}

// A heavier leading line
$headline-margin-bottom: .5em !default;
.head-line {
  display: block;
 // margin-bottom: $headline-margin-bottom;
  font-weight: bolder;
}

.page-template p {
  margin-bottom: .5em;
}

//Used in spans to emphasize the site name in text or title
.site-name-em {
  //font-weight: bolder;
  text-shadow: .1rem .1rem .1rem  rgba(0,0,0,.5);
  font-style: italic;
}

/** Basis for avatar handling, also pup up ajax dialogs */
//$img-avatar-max-width: 15rem !default;
$img-avatar-max-width: auto !default;
$img-avatar-max-height: 12rem !default;
$img-avatar-tiny-max-height: 32px !default;
$img-avatar-micro-max-height: 16px !default;

img.avatar {
  //max-width: $img-avatar-max-width;
  max-height: $img-avatar-max-height;
  padding: 0;
  margin: 0;
  border: none;
  vertical-align: baseline;
}

img.avatar.small {
  max-height: $img-avatar-max-height/2;
}
img.avatar.xsmall {
  max-height: $img-avatar-max-height/3;
}
img.avatar.tiny {
  max-height: $img-avatar-tiny-max-height;
  max-width: $img-avatar-tiny-max-height;
}

img.avatar.micro {
  max-height: $img-avatar-micro-max-height;
  max-width: $img-avatar-micro-max-height;
}





.avatar-frame {
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
  width: $img-avatar-max-width;
  height:  $img-avatar-max-height;
  border: solid #888 1px;
  text-align: center;
  position: relative;
  background-color: black;
}





$avatar-desc-width: $img-avatar-max-width !default;
$avatar-desc-padding: .5rem !default;
$avatar-desc-margin: .5rem !default;
$avatar-desc-bg: #eee !default;
.avatar-desc {
  width: $avatar-desc-width;
  padding: $avatar-desc-padding;
  border: 1px;
  margin: $avatar-desc-margin;
  display: inline-block;
  background: $avatar-desc-bg;
}


.new-msg-cnt {
  font-weight: 600;
  color: #f88;
}

.num-items, .item-desc {
  display: inline-block;
}

.template-heading {
  font-size: large;
  text-align: center;
  color: #33a;
  margin-bottom: .5em;
}

div.msg.row.from.first-view  {
  border: solid red 1px;
}
div.row.first-view .msg-content {
  margin-top: 2em;
}
div.row.first-view .msg-content::before {
    position: relative;
    text-align: center;
    top: -3em;
    //content: "New";
    content: "Unread";
    font-weight: bold;
    color: red;
    display: inline-block;
    width: 100%;
}

div.msg.row {
  border: solid #aaa 1px;
  background-color: rgba(200, 200, 255, .6);
  border-radius: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  padding-bottom: .5em;
}


.msg-content {
    background-color: rgba(255, 255, 220, 0.6);
    margin-top: 1em;
    padding: 1em;
    min-height: 6em;
    position: relative;
}

//The base 'site header' - combine with other classes to make custom headers
/*
.sh {
  border-radius: .5em;
  font-weight: 600;
  padding: .3em;
  margin: .3em;
}
*/

/*
.sh1 { @extend .fs-1; @extend .sh; } 
.sh2 { @extend .fs-2; @extend .sh; } 
.sh3 { @extend .fs-3; @extend .sh; } 
.sh4 { @extend .fs-4; @extend .sh; } 
.sh5 { @extend .fs-5; @extend .sh; } 
.sh6 { @extend .fs-6; @extend .sh; } 
.sh7 { @extend .fs-7; @extend .sh; } 
.sh8 { @extend .fs-8; @extend .sh; } 
.sh9 { @extend .fs-9; @extend .sh; } 
.sh10 { @extend .fs-10; @extend .sh; } 
*/


.inverse-060 {
  color: white;
  background-color: #060;
}


.inverse-006 {
  color: white;
  background-color: #006;
}


.inverse-600 {
  color: white;
  background-color: #600;
}

img.js-big-picture-button {
  cursor: pointer;
}

img.big-picture-img {
  max-width: 500px;
}
/*
img.js-big-picture-button:hover {
  cursor: pointer;
}
*/

////////////////  Vue Pop-up Classes /////////////

.contact-body-wrapper {
  
}
.contact-header {
  color: white;
  background-color: blue;
  font-weight: bold;
  font-size: 1.2rem;
  padding: .3rem;
  text-align: center;
  margin: 0;
}
.contact-sub-wrap {}
.contact-ta-wrap {
  margin:  3px;
  padding: 3px;
}
.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.popup-btn {} 





