/*
CSS / Styling that when used together create effects, like tooltips, liking someone, etc
*/

/** For us with JQuery Dialog Automation */
.js-dialog-content {
  display: none;
}

div.super_test {
  border: solid black 3px;
  margin: 20px;
  padding: 20px;
  background-color: red;
  font-size: xx-large;
}

/** Speach bubble effects */
div.speech-bubble{
   margin-left: 2em;;
   margin-right: 2em;;
   padding: 1em;
   color: white;
   display: inline-block;
   width: 70%; 
   min-height: 6em; 
   border-radius: 1em;
}
.bubble-content {
  width: 100%;
  float: left;
}
div.speech-bubble.left {
   text-align: left;
   background: blue;
}
div.speech-bubble.right {
   background: red;
}
div.speech-bubble::before,
div.speech-bubble::after {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 1.5em solid transparent;
   border-bottom: 1.5em solid transparent;
   margin: 0;
}
div.speech-bubble.left::before {
   border-right: 2.5em solid blue;
   margin-left: -3.5em;

}
div.speech-bubble.right:after {
   border-left: 2.5em solid red;
   margin-left: .5em;
   /*
   margin-left: 410px;
   left: 70%;
   */
   top: 1.8em;
}








/** Some Bootstrap Mods to make even height columns */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.rowclass-equalheight {
    display: table;
}

.colclass-equalheight {
    float: none;
    display: table-cell;
    vertical-align: top;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


@media (min-width: 0px) and (max-width: 767px) {
  .fsi-row-xs-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .fsi-row-sm-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .fsi-row-md-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .fsi-row-lg-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/** Management of "Favoriting" & Blocking, in combo with JS / AJAX */

.social-control-container {
  height: 4em;
  text-align: center;
}

div.blocked,
div.unblocked,
div.favorited,
div.unfavorited {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-size: contain;
}
div.favorited,
div.unfavorited {
  transform: translateY(-.5em);
}

div.unfavorited {
  background-image: url('../img/Full-Empty-Star.svg');
}
div.favorited {
  background-image: url('../img/Full-Yellow-Star.svg');
}


div.favorite-toggle.favorited:hover,
div.favorite-toggle.unfavorited:hover {
  background-image: url('../img/Full-Half-Star.svg');
  cursor: pointer;
}

div.favorite-toggle.favorited::after,
div.favorite-toggle.unfavorited::after {
  transform: translateX(-50%);
  display: block;
  margin-top: -.3em;
  position: relative;
  white-space: pre;
}
div.favorite-toggle.unfavorited::after {
  top: 2em;
  content: "Not a favorite..";
  color: #884;
}

div.favorite-toggle.favorited::after {
  color: #962;
  content: 'A Favorite!';
}

div.favorite-toggle.favorited:hover::after {
  color: #888;
  content: 'Unfavorite?';
}

div.favorite-toggle.unfavorited:hover::after {
  color: #962;
  content: "Favorite them!";
}



/** Similar with Favoriting, but for blocking */


div.blocked,
div.unblocked {
  border-radius: .5em;
  background-color: green;
  line-height:  2em;
}

div.blocked {
  background-color: red;
}

div.unblocked:hover {
  cursor: pointer;
  background-color: #800;
}
div.blocked:hover {
  cursor: pointer;
  background-color: #080;
}

div.unblocked::before,
div.blocked::before {
  font-size: x-large;
  font-weight: bold;
}
div.unblocked::before {
  content: '\2713';
}
div.blocked::before {
  content: '\2718';
}

div.blocked::after,
div.unblocked:after {
  margin-top: -.3em;
  white-space: pre;
  font-size: small;
  position: relative;
  display: block;
  transform: translateX(-60%);
}

div.blocked::after {
  color: #600;
  content: 'Blocked';
  font-style: italic;
}

div.unblocked::after {
  content: 'Unblocked';
  color: #686;
}

div.unblocked:hover::after {
  color: red;
  content: 'Block User?';
}

div.blocked:hover::after {
  color: green;
  content: 'Unblock User?';
}


/** Sope button styling, also for divs, and menus? */

.pkmvc-button:focus,
.pkmvc-button:visited,
.pkmvc-button {
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(to top, #759ae9, #376fe0);
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  border-radius: 4px;
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px ;
  margin: 7px;
  text-shadow: 0 -1px 1px #1a5ad9;
}

.pkmvc-button:hover {
    text-decoration: none;
    color: #ffe;
    background-image: linear-gradient(to top, #557ac9, #174fc0);
    cursor: pointer; 
}

.pkmvc-button:active {
    border-top: 1px solid #1b4db3;
    border-right: 1px solid #174299;
    border-bottom: 1px solid #133780;
    border-left: 1px solid #174299;
    box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
}

/** Set of behaviors for inline login */
.inline-login a{
  color: #ccf;
}
.inline-login a:hover{
  text-decoration: none;
  color: #aaf;
}
.inline-login {
  display: inline-block;
  margin-top: 4px;
  zoom: .9;
}


/** Don't remember exactly what key frames were for - some kind of animation - cool*/
@keyframes pulse {
  0% {
    border: solid red 2px;
    background-color: rgba(100,100,255,.8);
  }
  50% {
    border: solid blue 2px;
    background-color: rgba(250,200,100,.8);
  }
  100% {
    border: solid red 2px;
    background-color: rgba(100,100,255,.8);
  }
}

/** Basis for avatar handling, also pup up ajax dialogs */
img.avatar,
.avatar-med,
.avatar, .avatar-sm {
  max-width: 130px;
  max-height: 130px;
  /*
  padding: 5px;
  border: 1px;
  margin: 5px;
  border-radius: 5px;
  */
}
.avatar-med {
  max-width: 160px;
  max-height: 160px;
}
.avatar-desc {
  width: 130px;
  padding: 5px;
  border: 1px;
  margin: 5px;
  display: inline-block;
  background-color: #eee;

}

img.big-picture-dialog {
  max-width: 700px;
  max-height: 700px;
  border-radius: 20px;
  border: solid blue 5px;

} 
img.avatar {
  padding: 0;
  margin: 0;
  border: none;
  max-width: 120px ! important;
  max-height: 120px ! important;
}
.avatar-frame {
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
  width: 121px;
  height: 121px;
  border: solid #888 1px;
  text-align: center;
  position: relative;
  /*
  display: flex;
  justify-content: center;
  */
  background-color: black;
}

@media (max-width: 600px) {
  div.speech-bubble{
    width: auto;
  }
  div.speech-bubble:before, 
  div.speech-bubble:after {
    content: none;
  } 
}