/*
$nav-tabs-active-link-hover-bg: #C88;
$nav-tabs-active-link-hover-bg: #88f;
.nav-tabs .nav-link {
  background-color: #faa;
}
*/

$tooltip-max-width: 500px;
$tooltip-color: #311;
$tooltip-bg: #ddf;

